{% extends template('page-blank') %}

{% define data = {
    antelope: _view.antelope,
    color: _view.color
} %}

{% block body %}
    {% if data.antelope is not null %}
        My antelope has the name <span style="color: {{ data.color }}">{{ data.antelope.name }}</span>
    {% else %}
        No antelope found :(
    {% endif %}
{% endblock %}
