@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@mixin product-social($name: '.product-social')
{
    #{$name} {
        margin: 16px 0;
        &__container {
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
            }
        }
    }
}

@include product-social();
